{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * /core/modules/system/templates/input.html.twig
 *
 */
#}

{#
<input{{ attributes }} />{{ children }}
#}

<div {{ attributes.addClass(["react-number-input"]) }}></div>

{{ children }}
